h1 {
  text-align: center;
  color: white
}

body {
  background-color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

}

button {
  padding: 20px;
  background-color: rgb(37, 131, 238);
  color: white;
  border-radius: 10px;
  font-size: larger;
  border: none;
  cursor: pointer;
}

.footer-buttons {
  display: flex;
  justify-content: center;
}

p {
  color:white;
  text-align: center;
  font-size: 50px
}

.Stopwatch {
  width : 500px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
}

.Stopwatch .close {
  position: absolute;
  top:0px; 
  right: 0px
}

.footer-buttons {
  display: flex;
  justify-content: center;

}

.resume {
  display: flex;
  gap: 0px 20px
}

.component {
  display: flex;
  justify-content: center;
}
